<p-card [ngClass]="'w-full shadow-sm custom-card'" (click)="verProducto(producto)">
  <ng-template pTemplate="header">
    <div class="relative w-full h-[500px] group overflow-hidden">
      <img
        [src]="'http://localhost:3000/public/images/' + producto.imagen_principal"
        [alt]="producto.nombre"
        class="w-full h-full object-cover transition-opacity duration-500 group-hover:opacity-0"
      />
      <img
        [src]="'http://localhost:3000/public/images/' + producto.imagen_secundaria"
        [alt]="producto.nombre"
        class="absolute top-0 left-0 w-full h-full object-cover transition-opacity duration-500 opacity-0 group-hover:opacity-100"
      />
    </div>
  </ng-template>

  <div class="text-center bg-white">
    <p class="text-xs font-semibold tracking-widest text-gray-500 uppercase">
      {{ producto.nombre }} 
    </p>
    <p class="text-sm font-semibold text-gray-900 mt-2">
      {{ producto.precio | currency : 'ARS' : 'symbol' : '1.2-2' : 'es-AR' }}
    </p>
  </div>
</p-card>
